<a href="https://colab.research.google.com/github/akash-r34/CalCheck/blob/main/Dataset/Mining%20food%20data/Mining_food_and_diet_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Step 1: Creating Dataset
Mining only the data of indian food items(using their FDCIDs) available in: https://fdc.nal.usda.gov/

In [ ]:
import json
import requests

fdcid_list = [2343829, 2343830, 2344617, 2343194, 2344618, 2344616, 2343195, 2345137, 2345138, 2342818,
              2342675, 2342680, 2342809, 2343139, 2341089, 2341103, 2341967, 2343193, 2343090, 2345911,
              2342675, 2342680, 2342809, 2343139, 2341089, 2341103, 2341967, 2343193, 2343090, 2345911,
              2343133, 2344673, 2342904, 2344473, 2341916, 2346076, 2345935, 2345988, 2342183, 2341493,
              2341858, 2341861, 2341852, 2341862, 2344240, 2344438, 2341504, 2342436, 2342435, 2342437,
              2343024, 2343886, 2343645, 2344437, 2345343, 2341636, 2345170, 2344634, 2345272, 2345652,
              2344234, 2344240, 2344242, 2344243, 2341156, 2342878, 2342877, 2342958, 2342335, 2342367, 2340907, 2340908, 2342361, 2342358,
              2344170, 2344126, 2344102, 2344159, 2344158, 2344143, 2344155, 2343843, 2343842, 2343841, 2345258, 2341894,
              2342427, 2344187, 2342905, 2341957, 2344436, 2344438, 2344440, 2344441, 2343090, 2344214, 2341702, 2341704, 2341699, 2341707, 2345425, 2345124, 2344239, 2345394,
              2345547, 2345539, 2345545, 2345651, 2345548, 2345551, 2345552, 2345549, 2344296, 2344431,
              2344795, 2344804, 2343374, 2343373, 2342026, 2343341, 2343343, 2343342, 2343892, 2344729,
              2344720, 2344695, 2341100, 2344665, 2344682, 2344719, 2345344, 2345765, 2345743, 2343882,
              2343427, 2343583, 2343596, 2343952, 2343566, 2344214, 2342906, 2345725, 2344698, 2345779, 2345094]
ind=0
headers = {'accept': 'application/json'}
data_arr = []
for i, fdcid in enumerate(fdcid_list):
  url = 'https://api.nal.usda.gov/fdc/v1/food/'+str(fdcid)
  params = {'format': 'full', 
          'api_key': '3EOzG6fTmkUOQbhYpK0d0FWocwyAvKo4ty3RewDa'}

  response = requests.get(url, params=params, headers=headers)

  output_json = response.json()
  ind+=1
  data_arr.append({'Food name': output_json['description']})
  for nutrient in output_json['foodNutrients']:
    data_arr[i][nutrient['nutrient']['name'] + '(' + nutrient['nutrient']['unitName'] +')'] = nutrient['amount']

##Step 2: Mining 10 items per code block to identify faulty api request(if any) with ease


> Note: This step can be skipped by just running the step 1 successfully


Each of these code block contains the same FDCIDs as the first block. The only difference is that the requests are sent 10 at a time.

In [ ]:
fdcid_list = [2342675, 2342680, 2342809, 2343139, 2341089, 2341103, 2341967, 2343193, 2343090, 2345911]

headers = {'accept': 'application/json'}
for i, fdcid in enumerate(fdcid_list):
  url = 'https://api.nal.usda.gov/fdc/v1/food/'+str(fdcid)
  params = {'format': 'full', 
          'api_key': '3EOzG6fTmkUOQbhYpK0d0FWocwyAvKo4ty3RewDa'}

  response = requests.get(url, params=params, headers=headers)
  output_json = response.json()
  data_arr.append({'Food name': output_json['description']})
  for nutrient in output_json['foodNutrients']:
    data_arr[ind][nutrient['nutrient']['name'] + '(' + nutrient['nutrient']['unitName'] +')'] = nutrient['amount']
  ind+=1

In [ ]:
fdcid_list = [2343133, 2344673, 2342904, 2344473, 2341916, 2346076, 2345935, 2345988, 2342183, 2341493]

headers = {'accept': 'application/json'}
for i, fdcid in enumerate(fdcid_list):
  url = 'https://api.nal.usda.gov/fdc/v1/food/'+str(fdcid)
  params = {'format': 'full', 
          'api_key': '3EOzG6fTmkUOQbhYpK0d0FWocwyAvKo4ty3RewDa'}

  response = requests.get(url, params=params, headers=headers)
  output_json = response.json()
  data_arr.append({'Food name': output_json['description']})
  for nutrient in output_json['foodNutrients']:
    data_arr[ind][nutrient['nutrient']['name'] + '(' + nutrient['nutrient']['unitName'] +')'] = nutrient['amount']
  ind+=1

In [ ]:
fdcid_list = [2341858, 2341861, 2341852, 2341862, 2344240, 2344438, 2341504, 2342436, 2342435, 2342437]

headers = {'accept': 'application/json'}
for i, fdcid in enumerate(fdcid_list):
  url = 'https://api.nal.usda.gov/fdc/v1/food/'+str(fdcid)
  params = {'format': 'full', 
          'api_key': '3EOzG6fTmkUOQbhYpK0d0FWocwyAvKo4ty3RewDa'}

  response = requests.get(url, params=params, headers=headers)
  output_json = response.json()
  data_arr.append({'Food name': output_json['description']})
  for nutrient in output_json['foodNutrients']:
    data_arr[ind][nutrient['nutrient']['name'] + '(' + nutrient['nutrient']['unitName'] +')'] = nutrient['amount']
  ind+=1

In [ ]:
fdcid_list = [2343024, 2343886, 2343645, 2344437, 2345343, 2341636, 2345170, 2344634, 2345272, 2345652]

headers = {'accept': 'application/json'}
for i, fdcid in enumerate(fdcid_list):
  url = 'https://api.nal.usda.gov/fdc/v1/food/'+str(fdcid)
  params = {'format': 'full', 
          'api_key': '3EOzG6fTmkUOQbhYpK0d0FWocwyAvKo4ty3RewDa'}

  response = requests.get(url, params=params, headers=headers)
  output_json = response.json()
  data_arr.append({'Food name': output_json['description']})
  for nutrient in output_json['foodNutrients']:
    data_arr[ind][nutrient['nutrient']['name'] + '(' + nutrient['nutrient']['unitName'] +')'] = nutrient['amount']
  ind+=1

In [ ]:
fdcid_list = [2344234, 2344240, 2344242, 2344243, 2341156, 2342878, 2342877, 2342958, 2342335, 2342367, 2340907, 2340908, 2342361, 2342358]

headers = {'accept': 'application/json'}
for i, fdcid in enumerate(fdcid_list):
  url = 'https://api.nal.usda.gov/fdc/v1/food/'+str(fdcid)
  params = {'format': 'full', 
          'api_key': '3EOzG6fTmkUOQbhYpK0d0FWocwyAvKo4ty3RewDa'}

  response = requests.get(url, params=params, headers=headers)
  output_json = response.json()
  data_arr.append({'Food name': output_json['description']})
  for nutrient in output_json['foodNutrients']:
    data_arr[ind][nutrient['nutrient']['name'] + '(' + nutrient['nutrient']['unitName'] +')'] = nutrient['amount']
  ind+=1

In [ ]:
fdcid_list = [2344170, 2344126, 2344102, 2344159, 2344158, 2344143, 2344155, 2343843, 2343842, 2343841, 2345258, 2341894]

headers = {'accept': 'application/json'}
for i, fdcid in enumerate(fdcid_list):
  url = 'https://api.nal.usda.gov/fdc/v1/food/'+str(fdcid)
  params = {'format': 'full', 
          'api_key': '3EOzG6fTmkUOQbhYpK0d0FWocwyAvKo4ty3RewDa'}

  response = requests.get(url, params=params, headers=headers)
  output_json = response.json()
  data_arr.append({'Food name': output_json['description']})
  for nutrient in output_json['foodNutrients']:
    data_arr[ind][nutrient['nutrient']['name'] + '(' + nutrient['nutrient']['unitName'] +')'] = nutrient['amount']
  ind+=1

In [ ]:
fdcid_list = [2342427, 2344187, 2342905, 2341957, 2344436, 2344438, 2344440, 2344441, 2343090, 2344214, 2341702, 2341704, 2341699, 2341707, 2345425, 2345124, 2344239, 2345394]

headers = {'accept': 'application/json'}
for i, fdcid in enumerate(fdcid_list):
  url = 'https://api.nal.usda.gov/fdc/v1/food/'+str(fdcid)
  params = {'format': 'full', 
          'api_key': '3EOzG6fTmkUOQbhYpK0d0FWocwyAvKo4ty3RewDa'}

  response = requests.get(url, params=params, headers=headers)
  output_json = response.json()
  data_arr.append({'Food name': output_json['description']})
  for nutrient in output_json['foodNutrients']:
    data_arr[ind][nutrient['nutrient']['name'] + '(' + nutrient['nutrient']['unitName'] +')'] = nutrient['amount']
  ind+=1

Note: This block is an exception(contains more than 10 FDCIDs) as all of these FDCIDs requests were already checked for errors

In [ ]:
fdcid_list = [2345547, 2345539, 2345545, 2345651, 2345548, 2345551, 2345552, 2345549, 2344296, 2344431,
              2344795, 2344804, 2343374, 2343373, 2342026, 2343341, 2343343, 2343342, 2343892, 2344729,
              2344720, 2344695, 2341100, 2344665, 2344682, 2344719, 2345344, 2345765, 2345743, 2343882,
              2343427, 2343583, 2343596, 2343952, 2343566, 2344214, 2342906, 2345725, 2344698, 2345779, 2345094]

headers = {'accept': 'application/json'}
for i, fdcid in enumerate(fdcid_list):
  url = 'https://api.nal.usda.gov/fdc/v1/food/'+str(fdcid)
  params = {'format': 'full', 
          'api_key': '3EOzG6fTmkUOQbhYpK0d0FWocwyAvKo4ty3RewDa'}

  response = requests.get(url, params=params, headers=headers)
  output_json = response.json()
  data_arr.append({'Food name': output_json['description']})
  for nutrient in output_json['foodNutrients']:
    data_arr[ind][nutrient['nutrient']['name'] + '(' + nutrient['nutrient']['unitName'] +')'] = nutrient['amount']
  ind+=1

#Step 3: Generating default Diets for the app
We create 6 different diets, each identified by 6 different unique dietIDs.

##Randomly generating dietIDs
Generate dietIDs in range from 1001 to 1006 for n(size of our food arrayy) times.

In [ ]:
import random

dietID = {'dietID': []}

for i in range(len(data_arr)):
  dietID['dietID'].append(random.randint(1001, 1006))
print(len(data_arr))
print(dietID)

145
{'dietID': [1003, 1006, 1006, 1002, 1003, 1006, 1005, 1002, 1002, 1003, 1004, 1001, 1003, 1003, 1002, 1002, 1006, 1005, 1003, 1001, 1005, 1003, 1003, 1005, 1001, 1003, 1004, 1002, 1006, 1005, 1003, 1001, 1005, 1001, 1001, 1005, 1006, 1006, 1003, 1003, 1003, 1004, 1002, 1004, 1004, 1005, 1006, 1002, 1003, 1005, 1004, 1001, 1005, 1005, 1005, 1006, 1003, 1004, 1006, 1004, 1002, 1001, 1003, 1005, 1002, 1003, 1001, 1004, 1001, 1002, 1001, 1002, 1002, 1002, 1002, 1006, 1001, 1003, 1006, 1002, 1004, 1004, 1001, 1002, 1006, 1002, 1003, 1003, 1005, 1003, 1006, 1003, 1006, 1001, 1003, 1002, 1003, 1003, 1001, 1003, 1003, 1004, 1006, 1003, 1002, 1003, 1004, 1005, 1002, 1001, 1004, 1001, 1003, 1004, 1005, 1006, 1005, 1001, 1003, 1006, 1003, 1004, 1005, 1003, 1004, 1006, 1006, 1005, 1006, 1002, 1005, 1001, 1001, 1001, 1003, 1001, 1006, 1001, 1001, 1005, 1004, 1002, 1001, 1005, 1005]}

##Assigning dietIDs
Assign the generated dietIDs to each food item and store them in a panda dataframe.

In [ ]:

import pandas as pd
from google.colab import data_table
data_table.enable_dataframe_formatter()
  
df1 = pd.DataFrame.from_dict(data_arr)
dietIDs = pd.DataFrame.from_dict(dietID)

result = pd.concat([dietIDs, df1], axis=1, join='inner')
  
result

Warning: Total number of columns (67) exceeds max_columns (20). Falling back to pandas display.

,dietID,Food name,Protein(g),Total lipid (fat)(g),"Carbohydrate, by difference(g)",Energy(kcal),"Alcohol, ethyl(g)",Water(g),Caffeine(mg),Theobromine(mg),...,PUFA 20:4(g),PUFA 22:6 n-3 (DHA)(g),MUFA 16:1(g),PUFA 18:4(g),MUFA 20:1(g),PUFA 20:5 n-3 (EPA)(g),MUFA 22:1(g),PUFA 22:5 n-3 (DPA)(g),"Fatty acids, total monounsaturated(g)","Fatty acids, total polyunsaturated(g)"
0,1003,Idli,6.36,0.35,25.00,128.0,0.0,67.20,0.0,0.0,...,0.000,0.0,0.001,0.0,0.002,0.0,0.000,0.0,0.090,0.142
1,1006,"Dosa, plain",5.70,4.05,37.00,210.0,0.0,51.80,0.0,0.0,...,0.000,0.0,0.014,0.0,0.027,0.0,0.003,0.0,1.590,1.610
2,1006,"Dosa, with filling",5.46,4.27,30.80,184.0,0.0,57.90,0.0,0.0,...,0.000,0.0,0.014,0.0,0.026,0.0,0.002,0.0,1.610,1.720
3,1002,"Bread, puri",6.84,24.90,39.20,409.0,0.0,28.00,0.0,0.0,...,0.001,0.0,0.083,0.0,0.167,0.0,0.000,0.0,9.710,10.000
4,1003,Vada,12.80,9.73,33.20,266.0,0.0,42.00,0.0,0.0,...,0.000,0.0,0.034,0.0,0.066,0.0,0.000,0.0,3.810,3.950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,1004,Lentil curry,3.67,5.61,12.30,110.0,0.0,76.70,0.0,0.0,...,0.000,0.0,0.018,0.0,0.030,0.0,0.000,0.0,1.890,1.990
141,1002,"Ghee, clarified butter",0.28,99.50,0.00,876.0,0.0,0.24,0.0,0.0,...,0.000,0.0,2.230,0.0,0.000,0.0,0.000,0.0,28.700,3.690
142,1001,Date,2.45,0.39,75.00,282.0,0.0,20.50,0.0,0.0,...,0.000,0.0,0.001,0.0,0.000,0.0,0.000,0.0,0.036,0.019
143,1005,"Mayonnaise, reduced fat, with olive oil",0.37,40.00,0.00,361.0,0.0,57.60,0.0,0.0,...,0.000,0.0,0.464,0.0,0.125,0.0,0.000,0.0,29.500,4.010
144,1005,"Romaine lettuce, raw",1.36,0.15,2.87,15.0,0.0,95.00,0.0,0.0,...,0.000,0.0,0.002,0.0,0.000,0.0,0.000,0.0,0.006,0.082

#Step 4: Export the datasets

##Export the generated food dataset without dietIDs associated with them

In [ ]:
file_name = 'Food_data_generated.xlsx'
  
# saving the excel
df1.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

##Export the generated food dataset with dietIDs associated with them

In [ ]:
file_name = 'Food_data_generated_with_dietIDs.xlsx'
  
# saving the excel
result.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.